.download-box {
  width: 100%;
  height: 100%;
  @include min-height(math.div(1920, 566), $maxMainWidth);

  background: url(@/assets/images/download_bg.png) no-repeat 50%;
  background-size: cover;

  .main-box {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .mobile-preview {
      display: flex;
      margin-right: 120px;
      padding: 20px 0;
      .img-box {
        width: 320px;
      }
    }
    .advertise {
      display: flex;
      flex-direction: column;
      .text-box {
        display: flex;
        flex-direction: column;
        color: $menuActiveText;
        font-size: 40px;
        text-shadow: -0.3125rem 0.125rem 0.375rem #000;
        p {
          width: 335px;
        }
      }

      .down-box {
        display: flex;
        .app-box {
          display: flex;
          .img-box {
            &:not(:last-of-type) {
              margin-right: 20px;
            }

            width: 145px;
            cursor: pointer;
          }
        }
        .qr-box {
          display: flex;
        }
      }
    }
  }
}

:global(.mobile) {
  .download-box {
    min-height: 800px;
    background: #f2f2f3 url(@/assets/images/download_bg_m.jpg) no-repeat 50%;
    background-size: cover;

    .main-box {
      flex-direction: column;
      justify-content: center;
      padding: 10px 0;
      .mobile-preview {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-right: 0;
        .img-box {
          width: 100%;
          min-height: calc(100vw * 1365 / 702 * 0.5);
        }
      }

      .advertise {
        .text-box {
          display: flex;
          align-items: center;
          text-align: center;
        }

        .down-box {
          display: flex;
          .app-box {
            display: flex;
            justify-content: space-around;

            .img-box {
              width: 30%;
              margin-right: 0;
            }
          }
          .qr-box {
            display: flex;
          }
        }
      }
    }
  }
}
