@import './transition.scss';
@import './font.scss';

/* Global scss */
html {
  box-sizing: border-box;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  &[data-device='mobile'] {
    font-size: 14px;
    .el-message {
      width: 320px;
      min-width: auto;
      max-width: 90%;
    }
  }
  body {
    height: 100%;
    font-size: 16px;
    font-family: Avenir, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include scroll-bar;
    #app {
      height: 100%;
    }
  }

  #nprogress {
    $bgColor: $menuActiveText;
    .bar {
      height: 3px;
      background: $bgColor;
      .peg {
        box-shadow: 0 0 10px $bgColor, 0 0 5px $bgColor;
      }
    }

    .spinner {
      .spinner-icon {
        border-top-color: $bgColor;
        border-left-color: $bgColor;
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: inherit;
}

div:focus {
  outline: none;
}
